.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  .momoyoga-lesson-line {
    display: flex;
    gap: 8px;
  }
  .momoyoga-lesson-time {
    position: unset !important;
    display: inline-flex !important;
  }
  .momoyoga-lesson-title {
    display: infline-flex !important;
    margin: unset !important;
  }
  .momoyoga-day, .momoyoga-date {
    color: var(--primary-color) !important;
  }

  a {
    color: var(--primary-color);
  }